*{
margin:0;
}
body{
    background-color:rgb(209, 209, 203) ;

 }
.row{
    width:100% ;
    height:210px ;
    display: flex;
    margin-top:20px ;
    justify-content: center;
} 
 .col{
    width: 40%;
    height: 200px;
    border: 4px solid white;
    margin-left: 30px;
    display: flex;
    background-color: white;
} 
 .box1{
    width: 30%;
    height: 130px;
    border: 4px solid white;
    margin-top: 10px;
    margin-left:8px ;
    background-color: red; 
}
.box2{
    width: 70%;
    height:200px ;
    margin-left:10px ;
}
h2{
    color: orange;
    font-weight: 900;
    margin-bottom:3% ;
    /* text-decoration: underline; */
}
p{
    font-size: smaller;
    margin-top: 3%;
}
.btn2{
    background-color:yellow;
    color:black;
    margin-left: 50%;
    margin-top:15% ;

}
.btn{
margin-top:15% ;
}
.box-color{
background-color: rgb(155, 82, 155);

}
.box-color2{
    background-color: blue;
}
.box-color3{
    background-color: aquamarine;

}
.footer{
    display: flex;
} 